#aboutme{width:700px;
margin:0 auto 0 auto;}


body{
background-size:auto;
background-image:url("bgi1.jpg");
background-position: center;
background-color:#444;
background-blend-mode:lighten;
background-repeat:repeat;
}

p{position: relative;
 	color: white;
}


#a{background-color:#444;
text-align:center;


}
#p1{ height:14px;

color:steelblue;
font-size:50px;
font-weight:bold;
width:800px;

/*Adding shadow effects*/
text-shadow:2px 2px black;  }


#p2{
padding:1px;
color:skyblue;
font-size:20px;
font-style:italic;
}
#p3{ 
background-color:#444;
text-align:center;
color:white;
font-size:20px;
}
#p4{ 
background-color:#444;
text-align:center;
color:white;
font-size:20px;
}
#p5{ 
background-color:#444;
text-align:center;
color:white;
font-size:20px;
}
.a{
position:absolute;
width:700px ;
padding:auto;
margin:0 auto 0 auto;
text-align:center;
height:100px;text-align:center;

font-size:30px;
background-color:#555;
display:none;
}
.b{positon:absolute;
width:50px;
border-radius:50%;}
